[submodule "ingadhoc/odoo-argentina-ee"]
	path = ingadhoc/odoo-argentina-ee
	url = git@github.com:ingadhoc/odoo-argentina-ee.git
	branch = 18.0

[submodule "ingadhoc/stock"]
	path = ingadhoc/stock
	url = git@github.com:ingadhoc/stock.git
	branch = 18.0
