[submodule "ingadhoc/odoo-argentina-ee"]
	path = ingadhoc/odoo-argentina-ee
	url = git@github.com:ingadhoc/odoo-argentina-ee.git
	branch = 18.0

[submodule "ingadhoc/stock"]
	path = ingadhoc/stock
	url = git@github.com:ingadhoc/stock.git
	branch = 18.0

[submodule "ingadhoc/argentina-sale"]
	path = ingadhoc/argentina-sale
	url = git@github.com:ingadhoc/argentina-sale.git
	branch = 18.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 18.0

[submodule "ingadhoc/account-invoicing"]
	path = ingadhoc/account-invoicing
	url = git@github.com:ingadhoc/account-invoicing.git
	branch = 18.0

[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 18.0

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 18.0
